body {
  background: rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 20px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

a {
  color: rgb(138, 138, 255);
}

button {
  user-select: none;
}

#load-image-container {
  display: flex;
  gap: 10px;
}

#load-image-container>input {
  flex: 1;
}

#upload-local-image-input {
  display: none;
}

#image-canvas-container {
  width: 300px;
  position: relative;
  touch-action: none;
}

#image-canvas {
  width: 100%;
}

#colorpicker-canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
}

#draw-canvas {
  touch-action: none;
  image-rendering: pixelated;
}

#buttons-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 15px;
}

#buttons-container button[data-selected="false"] {
  opacity: 0.5;
}

#buttons-container button {
  flex: 1;
  min-height: 50px;
}

.buttons-hor-container,
.buttons-ver-container {
  display: flex;
  gap: 15px;
}

.buttons-ver-container {
  flex-direction: column;
}

#draw-canvas-container {
  position: relative;
}

#create-texts-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
}

#create-texts-container div {
  width: calc(100% / 3);
  height: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#credits {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 768px) {

  #image-canvas-container,
  #draw-canvas {
    width: calc(100vw - 40px);
  }
}